body {
  background-color: black;
  font-family: 'Courier Prime', monospace;
  color: white;
}

img {
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.height-100 {
  height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.links {
  display: flex;
  justify-content: space-between;
}

.link {
  color: white;
  text-align: center;
  text-decoration: none;
}

.link:hover {
  color: whitesmoke;
}

.center-row {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }